[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cqcr"]
	path = cqcr
	url = https://github.com/evanodell/cqcr
[submodule "fixerapi"]
	path = fixerapi
	url = https://github.com/evanodell/fixerapi
[submodule "guardianapi"]
	path = guardianapi
	url = https://github.com/evanodell/guardianapi
[submodule "hansard"]
	path = hansard
	url = https://github.com/evanodell/hansard
[submodule "mnis"]
	path = mnis
	url = https://github.com/evanodell/mnis
[submodule "parlitools"]
	path = parlitools
	url = https://github.com/evanodell/parlitools
[submodule "refuge"]
	path = refuge
	url = https://github.com/evanodell/refuge
[submodule "threesixtygiving"]
	path = threesixtygiving
	url = https://github.com/evanodell/threesixtygiving
[submodule "ukpolice"]
	path = ukpolice
	url = https://github.com/evanodell/ukpolice
